<!Doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <title>taskList</title>
  <link rel="stylesheet" href="/css/w3.css">
</head>
<body ng-app="taskApp" ng-controller="mainController">
  <input type="text" ng-model="taskLisToAdd">
  <button ng-click="addTaskList(taskLisToAdd)">addInList</button>
  <div class="w3-row">
    <div class="w3-col  m4" ng-repeat="tl in tlarr track by $index">
        <div class="w3-card-4 w3-margin">

          <header class="w3-container w3-blue">
          <h3>{{tl.title}}
            <span class="w3-closebtn w3-margin-right w3-medium" ng-click="deleteTaskList($index)">x</span>
          </h3>
          </header>

          <div class="w3-container">
            <ul class="w3-ul">
              <li ng-repeat="task in tl.taskArr track by $index" ng-class="{'w3-green':task.isDone}" ng-click="toggleTaskStatus(task,tl)">
                <span>{{task.taskText}}</span>
                <span class="w3-closebtn w3-margin-right w3-medium" ng-click="deleteTask(tl,$index)">x</span>
              </li>
              <li>
                  <input type="text" ng-model="tl.taskToAdd"/>
                  <button ng-click="addTask(tl)">addTask</button>
              </li>
            </ul>

          </div>

          <footer class="w3-container w3-blue">
            hello
          </footer>

        </div>

    </div>
  </div>
  <script src="/js/angular.min.js"></script>
  <script src="/js/app.js"></script>

</body>
</html>
