<!DOCTYPE html>
<html>
  <head>
    <title>Task List Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/common/w3.css">
    <link rel="stylesheet" href="./css/taskList.css">
  </head>
  <body ng-app="taskList" ng-controller="mainController">
    <!-- Navigation Bar -->
    <ul class="w3-navbar w3-black">
      <li class="w3-dropdown-hover">
        <a href="#">☰</a>
        <div class="w3-dropdown-content w3-white w3-card-4">
          <a href="#" ng-click="togglenTLAddModal();">Add a Task List</a>
          <a href="#" ng-click="reset()">Reset Application</a>
        </div>
      </li>
      <li><a href="#">Task List</a></li>
      <li class="w3-right"><a href="/">Jimee Jain</a></li>
    </ul>
    <!-- Display Task List -->
    <div class="rowContainer w3-padding">
      <div class="rowItem w3-card-4" ng-repeat="tl in tlArr track by $index">
        <header class="w3-container padd-r0" ng-class="tl.colorCodeClass">
          <h3>
            <span ng-bind="tl.title"></span>

          </h3>
        </header>
        <ul class="w3-ul">
          <li ng-repeat="task in tl.taskList track by $index" class="transition" ng-class="{'w3-green':task.isDone}" >
            <span ng-bind="task.taskText" ng-click="toggleTaskStatus($parent.$index,$index)"  class="taskText"></span>
            <i class="material-icons w3-closebtn w3-margin-right w3-medium" ng-click="delTask($parent.$index,$index)">delete</i>
          </li>
          <li ng-if="activeKey === tl.key">
            <input type="text" ng-model="taskText" />
            <button ng-click="addTask($index,taskText)">Add</button>
          </li>
        </ul>
        <footer class="w3-container" ng-class="tl.colorCodeClass">
          <i class="material-icons" ng-click="initAddTask(tl.key)">playlist_add</i>
          <i class="material-icons w3-closebtn tlFooter w3-medium" ng-click="removeTaskList($index)">delete</i>
        </footer>
      </div>
    </div>
    <a class="addTaskListBtn w3-btn-floating-large w3-teal" ng-click="togglenTLAddModal();">+</a>


    <!-- The Modal for adding task List -->
    <div class="w3-modal" ng-show="isaddTLModalOpen">
      <div class="w3-modal-content w3-animate-zoom">
        <header class="w3-container w3-teal">
          <h2>
            Add a Task List
            <span class="w3-closebtn" ng-click="togglenTLAddModal()">&times;</span>
          </h2>

        </header>
        <div class="w3-container w3-padding">
          Enter the title for Task List :
          <input type="text" ng-model="tlTitle">

        </div>
        <footer class="w3-container w3-teal">
          <button class="w3-btn w3-right" ng-click="addTaskList(tlTitle)">Add Now</button>
        </footer>
      </div>
    </div>



    <!-- External JS -->
    <script src="/common/angular/angular.min.js"></script>
    <!-- <script src="/common/angular/angular-route.min.js"></script> -->
    <!-- App JS -->
    <script src="./js/taskList.js"></script>
  </body>
</html>
